body {
    font-family: 'Lucida Sans';
}
h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body {
    background-color: #AF916D;
}

body {
    padding: 5px;
    margin: 5px;
    border-radius: 5%;
}
img {
    padding: 5px;
    margin: 5px;
    border-radius: 10%;
    display: flex;
    background-color: aquamarine;
}

.Menu1 {
    border: 5px cornflowerblue;
}

.menu {
    display: flex;
    justify-content: center;
    padding-right: 5px;
    padding-left: 5px;
}
.home, .bio, .hobbies, .portfolio{
    border: 2px solid black;
    border-radius: 10%;
    display: flex;
    background-color: blanchedalmond;
}
.images {
    display: flex;
    justify-content: center;
}
.sequence {
    display: flex;
}